:root {
  --ff-serif: 'Inknut Antiqua', serif;
  --ff-cursive: Licorice, cursive;
}

html {
  background-image: url('./images/background.png');
  background-size: cover;
  background-position: top center;
  background-blend-mode: overlay;
  background-color: #e8f1ea;
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 16px;
  font-family: var(--ff-serif);
  font-size: 1.375rem;
}

img {
  display: block;
  margin-inline: auto;
  width: 100%;
  max-width: 400px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 800px;
  margin-inline: auto;
  padding: 36px;
  border: solid 6px #9AD2A7;
  border-radius: 24px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 36px rgb(0 0 0 / 20%);
}

h1, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.7;
  color: #949494;
  margin: 0;
}

.accent-text {
  font-family: var(--ff-cursive);
  color: #A04C00;
  font-size: 3rem;
  line-height: 1.25;
}

.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5em 1em;
  background-color: #FFD8B5;
  color: #A04C00;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 0 #e1b48d;
  width: min(16rem, calc(100% - 48px));
}
